@using Partian.Models
@model SanPham
<div class="card mx-5 bg-info" style="width:20rem;">
    <div class="card-header text-info">
        @Model.TenSP
    </div>
    <div class="card-body">
        <div class="card-text">
            Thong tin tom tat ve san pham <br />
            @Model.MaSP <br />
            @Model.giaca
        </div>
        <a href="#" class="btn btn-danger my-2">Dat Hang</a>
        
    </div>
</div>

